.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
}

.footer-text {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}

.footer-link {
  color: #fff;
}
